@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-orange-200 rounded p-2 hover:bg-orange-300;
  }
  .btn-primary-active {
    @apply bg-orange-300 rounded p-2 hover:bg-orange-300;
  }

  .page-title {
    @apply md:text-5xl lg:text-8xl text-3xl font-mine;
  }

  .menu {
    @apply flex mb-3 basis-full justify-between;
  }

  .menu-items-container {
    @apply hidden xl:flex flex-1 gap-10 items-center justify-center pr-3 max-w-6xl flex-wrap;
  }

  .menu-mobile {
    @apply xl:hidden flex fixed bottom-0 w-full;
  }

  .menu-mobile a {
    @apply flex-1 flex flex-col justify-between items-center bg-white p-2;
    min-width: 1/6;
  }
  .menu-mobile a span {
    @apply text-5xl;
  }
  .menu-mobile a div {
    @apply text-[0.5rem];
  }
  .menu-mobile a svg ::after {
    content: "";
  }
  .menu-mobile a + a {
    @apply border-l;
  }

  .category {
    @apply md:text-3xl lg:text-4xl text-2xl font-mine my-8 text-center;
  }

  .content p {
    @apply my-3;
  }

  .tarif {
    @apply flex justify-between border-b border-orange-200 p-3;
  }

  .banner-container {
    @apply w-full relative;
    aspect-ratio: 761/197;
  }
}
